body {
    margin: 0;
    padding: 0;
    background-image: url(images/Exterior7.jpeg); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffd700; 
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.logout-container {
    text-align: center;
    background-color: #444444; 
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

button {
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #ffd700; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #daa520; 
}

button:active {
    transform: scale(0.98); 
}

@media (max-width: 768px) {
    .logout-container {
        padding: 20px 30px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 12px 24px;
    }
}
